*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

node_modules/
package-lock.json
# include if you are using npm - don't use both yarn and npm
npm-debug.log
yarn-error.log
yarn.lock 
# include if you are using yarn - don't use both npm and yarn
*.lock
*-lock.json

